In [1]:
import numpy as np

In [2]:
my_arr = np.arange(100)

In [3]:
my_arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [4]:
my_list = list(range(100))

In [5]:
my_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [15]:
%time for _ in range(10): my_arr2 = my_arr * 2

Wall time: 0 ns

In [16]:
%time for _ in range(10): my_list2 = [x * 2 for x in my _list]

SyntaxError: invalid syntax (<unknown>, line 1)

In [11]:
data = np.random.randn(2, 3)
data

array([[ 0.57095219, -0.63645665,  1.56396687],
       [ 0.59374694, -1.99157934,  0.39524781]])

In [12]:
data*10

array([[  5.70952186,  -6.36456645,  15.63966869],
       [  5.93746943, -19.91579343,   3.95247813]])

In [13]:
data + data

array([[ 1.14190437, -1.27291329,  3.12793374],
       [ 1.18749389, -3.98315869,  0.79049563]])

In [17]:
data.shape

(2, 3)

In [18]:
data.dtype

dtype('float64')

In [27]:
data1 = [6, 7.5, 8, 0, 1]

In [28]:
data1

[6, 7.5, 8, 0, 1]

In [29]:
arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [30]:
arr1.dtype

dtype('float64')

In [32]:
data2 = [[1,2,3,4],[5,6,7,8]]

In [33]:
data2

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [34]:
arr2 = np.array(data2)

In [35]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [36]:
arr2.ndim

2

In [37]:
arr2.shape

(2, 4)

In [38]:
arr1.dtype

dtype('float64')

In [39]:
arr2.dtype

dtype('int32')

In [40]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [41]:
np.zeros((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [42]:
arr2.dtype

dtype('int32')

In [44]:
# astype == untuk mengubah type data

float_arr2 = arr2.astype(np.float64)

In [45]:
float_arr2

array([[1., 2., 3., 4.],
       [5., 6., 7., 8.]])

In [46]:
int_arr1 = arr1.astype(np.int32)

In [47]:
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [48]:
int_arr1

array([6, 7, 8, 0, 1])

In [49]:
a = input()

3.5

In [50]:
type(a)

str

In [54]:
numeric_strings = np.array(['1.25', '-9.6', '42'])

In [55]:
numeric_strings.dtype

dtype('<U4')

numeric_strings.astype(float)

In [56]:
numeric_strings.astype(float)

array([ 1.25, -9.6 , 42.  ])

In [57]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [58]:
arr2 * arr2

array([[ 1,  4,  9, 16],
       [25, 36, 49, 64]])

In [59]:
arr2 - arr2

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

In [60]:
arr = np.arange(10)

In [61]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [62]:
arr[5]

5

In [63]:
arr[5:8]

array([5, 6, 7])

In [64]:
arr[5:8] = 10

In [65]:
arr

array([ 0,  1,  2,  3,  4, 10, 10, 10,  8,  9])

In [66]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [67]:
arr2[1]

array([5, 6, 7, 8])

In [69]:
arr2[1][2]

7

In [70]:
import pandas as pd

In [72]:
x = [4,7,-5,3]

In [73]:
obj = pd.Series(x)

In [74]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [77]:
y = ['d','b', 'a', 'c']

In [80]:
obj2 = pd.Series(x, index=y)

In [81]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [82]:
obj2 = pd.Series(x, index=y)
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [83]:
obj2['c']

3

In [84]:
obj2['c']= 23

In [85]:
obj2

d     4
b     7
a    -5
c    23
dtype: int64

In [87]:
# mengambil data positif
obj2[obj2 > 0]

d     4
b     7
c    23
dtype: int64

In [88]:
obj2*2

d     8
b    14
a   -10
c    46
dtype: int64

In [89]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [90]:
obj3 = pd.Series(sdata)

In [91]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [92]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [93]:
data

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [94]:
df = pd.DataFrame(data)

In [97]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [98]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [101]:
df['year']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [102]:
type(df['year'])

pandas.core.series.Series

In [103]:
df[['year']]

   year
0  2000
1  2001
2  2002
3  2001
4  2002
5  2003

In [104]:
type(df[['year']])

pandas.core.frame.DataFrame

In [106]:
df[['state', 'pop']]

    state  pop
0    Ohio  1.5
1    Ohio  1.7
2    Ohio  3.6
3  Nevada  2.4
4  Nevada  2.9
5  Nevada  3.2

In [107]:
df.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64