# Covid-19 Indonesia

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [55]:
df = pd.read_csv('covid_19_indonesia.csv')

In [56]:
df

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,182.93%,1.00,1.00
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.0,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,174.42%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31817,9/15/2022,ID-SA,Sulawesi Utara,37,0,0,37,52770,1213,50997,...,1.259638,14.01,19974.38,0.0,459.14,45.91,2.30%,96.64%,2.85,1.00
31818,9/15/2022,ID-SB,Sumatera Barat,13,0,3,10,104640,2371,102066,...,-0.850253,2.36,18959.11,0.0,429.59,42.96,2.27%,97.54%,6.50,1.00
31819,9/15/2022,ID-SS,Sumatera Selatan,16,0,1,15,82198,3376,78510,...,-3.216212,1.95,10002.74,0.0,410.83,41.08,4.11%,95.51%,3.20,1.00
31820,9/15/2022,ID-SU,Sumatera Utara,50,0,5,45,158866,3288,154924,...,2.191894,3.36,10680.15,0.0,221.04,22.10,2.07%,97.52%,1.92,1.00
31821,9/16/2022,IDN,Indonesia,2358,27,2997,-666,6405044,157876,6218708,...,-0.789275,8.89,24153.07,0.1,595.34,59.53,2.46%,97.09%,0.89,1.29

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 9.2+ MB

In [58]:
# mastiin apakah ada NAN apa nggak

df.isna().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                31822
Province                         929
Country                            0
Continent                          0
Island                           929
Time Zone                        929
Special Status                 27264
Total Regencies                    0
Total Cities                     901
Total Districts                    0
Total Urban Villages             904
Total Rural Villages             929
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Total Deaths per 100rb             0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases      1939
Growth Factor of New Deaths     3447
dtype: int64

In [59]:
# to sum how many object types in the dataframe

isobject = df.dtypes == 'object'
isobject.sum()
# df.dtypes

12

In [60]:
df['Case Fatality Rate'].unique()

array(['51.28%', '48.78%', '0.00%', ..., '6.20%', '7.67%', '7.79%'],
      dtype=object)

In [61]:
import statistics

df['Total Cities'] = statistics.mode(df['Total Cities'])
df['Total Rural Villages'] = statistics.mode(df['Total Rural Villages'])
df['Total Urban Villages'] = statistics.mode(df['Total Urban Villages'])

In [62]:
df['Growth Factor of New Cases'] = df['Growth Factor of New Cases'].fillna(df['Growth Factor of New Cases'].mean())
df['Growth Factor of New Deaths'] = df['Growth Factor of New Deaths'].fillna(df['Growth Factor of New Deaths'].mean())

In [63]:
df = df.drop(['City or Regency', 'Special Status','Province', 'Island', 'Time Zone'], axis=1)

In [64]:
# df2 = df.drop([])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  Country                      31822 non-null  object
 13  Continent                    31822 non-null  object
 14  Total Regencies              31822 non-null  int64
 15  Total Cities                 31822 non-null  float64
 16  Total Districts              31822 non-null  int64
 17  Total Urban Villages         31822 non-null  float64
 18  Total Rural Villages         31822 non-null  float64
 19  Area (km2)                   31822 non-null  int64
 20  Population                   31822 non-null  int64
 21  Population Density           31822 non-null  float64
 22  Longitude                    31822 non-null  float64
 23  Latitude                     31822 non-null  float64
 24  New Cases per Million        31822 non-null  float64
 25  Total Cases per Million      31822 non-null  float64
 26  New Deaths per Million       31822 non-null  float64
 27  Total Deaths per Million     31822 non-null  float64
 28  Total Deaths per 100rb       31822 non-null  float64
 29  Case Fatality Rate           31822 non-null  object
 30  Case Recovered Rate          31822 non-null  object
 31  Growth Factor of New Cases   31822 non-null  float64
 32  Growth Factor of New Deaths  31822 non-null  float64
dtypes: float64(13), int64(12), object(8)
memory usage: 8.0+ MB

In [65]:
# sn.heatmap(df.corr(), annot=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  Country                      31822 non-null  object
 13  Continent                    31822 non-null  object
 14  Total Regencies              31822 non-null  int64
 15  Total Cities                 31822 non-null  float64
 16  Total Districts              31822 non-null  int64
 17  Total Urban Villages         31822 non-null  float64
 18  Total Rural Villages         31822 non-null  float64
 19  Area (km2)                   31822 non-null  int64
 20  Population                   31822 non-null  int64
 21  Population Density           31822 non-null  float64
 22  Longitude                    31822 non-null  float64
 23  Latitude                     31822 non-null  float64
 24  New Cases per Million        31822 non-null  float64
 25  Total Cases per Million      31822 non-null  float64
 26  New Deaths per Million       31822 non-null  float64
 27  Total Deaths per Million     31822 non-null  float64
 28  Total Deaths per 100rb       31822 non-null  float64
 29  Case Fatality Rate           31822 non-null  object
 30  Case Recovered Rate          31822 non-null  object
 31  Growth Factor of New Cases   31822 non-null  float64
 32  Growth Factor of New Deaths  31822 non-null  float64
dtypes: float64(13), int64(12), object(8)
memory usage: 8.0+ MB

In [67]:
df['Date'] = pd.to_datetime(df['Date'])

In [68]:
df['Case Fatality Rate'] = df['Case Fatality Rate'].apply(lambda x : x.replace('%', ''))
df['Case Fatality Rate'] = df['Case Fatality Rate'].apply(lambda x: float(x))

df['Case Fatality Rate']

0        51.28
1        48.78
2         0.00
3         0.00
4        46.51
         ...
31817     2.30
31818     2.27
31819     4.11
31820     2.07
31821     2.46
Name: Case Fatality Rate, Length: 31822, dtype: float64

In [69]:
df['Case Recovered Rate'] = df['Case Recovered Rate'].apply(lambda x : x.replace('%', ''))
df['Case Recovered Rate'] = df['Case Recovered Rate'].apply(lambda x: float(x))

df['Case Recovered Rate']

0        192.31
1        182.93
2          0.00
3        100.00
4        174.42
          ...
31817     96.64
31818     97.54
31819     95.51
31820     97.52
31821     97.09
Name: Case Recovered Rate, Length: 31822, dtype: float64

In [70]:
# ob = df.dtypes == 'object'
# ob.sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  datetime64[ns]
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  Country                      31822 non-null  object
 13  Continent                    31822 non-null  object
 14  Total Regencies              31822 non-null  int64
 15  Total Cities                 31822 non-null  float64
 16  Total Districts              31822 non-null  int64
 17  Total Urban Villages         31822 non-null  float64
 18  Total Rural Villages         31822 non-null  float64
 19  Area (km2)                   31822 non-null  int64
 20  Population                   31822 non-null  int64
 21  Population Density           31822 non-null  float64
 22  Longitude                    31822 non-null  float64
 23  Latitude                     31822 non-null  float64
 24  New Cases per Million        31822 non-null  float64
 25  Total Cases per Million      31822 non-null  float64
 26  New Deaths per Million       31822 non-null  float64
 27  Total Deaths per Million     31822 non-null  float64
 28  Total Deaths per 100rb       31822 non-null  float64
 29  Case Fatality Rate           31822 non-null  float64
 30  Case Recovered Rate          31822 non-null  float64
 31  Growth Factor of New Cases   31822 non-null  float64
 32  Growth Factor of New Deaths  31822 non-null  float64
dtypes: datetime64[ns](1), float64(15), int64(12), object(5)
memory usage: 8.0+ MB

In [71]:
# obj = ['Location ISO Code', 'Location','Location Level', 'Country', 'Continent']

# for i in obj:
#     df[i] = df[i].astype('category')
    
# df.info()

In [72]:
obj = ['Location ISO Code', 'Location','Location Level', 'Country', 'Continent']
df = df.drop(obj, axis=1)

In [73]:
col = df.columns
# col = col.drop('Growth Factor of New Cases')
col = col.drop('Date')

In [74]:
X = df[col]
y = df['Growth Factor of New Cases']

In [75]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.3, random_state=101)

In [111]:
# KNWIGHBORS 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import Pipeline

knn = KNeighborsRegressor(n_neighbors=2)
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=2)

In [112]:
knn.score(X_train, y_train)

0.591337752636208

In [110]:
knn.score(X_test, y_test)

-0.4538771242307549

In [105]:
from sklearn import tree

dct = tree.DecisionTreeRegressor(max_depth=3, criterion='squared_error')
dct = dct.fit(X_train, y_train)

In [106]:
dct.score(X_train, y_train)

0.9427804586989523

In [107]:
dct.score(X_test, y_test)

0.8812710090312638

In [122]:
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor
# from sklearn.model_selection import 

reg = GradientBoostingRegressor(random_state=7, learning_rate=0.01)
reg.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.01, random_state=7)

In [123]:
reg.score(X_train, y_train)

0.8465557815289917

In [124]:
reg.score(X_train, y_train)

0.8465557815289917

In [129]:
y

0        1.326795
1        1.000000
2        1.326795
3        1.326795
4        1.000000
           ...
31817    2.850000
31818    6.500000
31819    3.200000
31820    1.920000
31821    0.890000
Name: Growth Factor of New Cases, Length: 31822, dtype: float64

In [134]:
reg.predict(X_train[0:5])

array([1.27698952, 1.13767645, 0.93172208, 1.05713002, 0.78708323])