In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model as lm

In [20]:
data = {'tinggi': [150,161,153,170,165], 
        'berat': [63,70,51,65,67]}

In [21]:
df = pd.DataFrame(data)
df

   tinggi  berat
0     150     63
1     161     70
2     153     51
3     170     65
4     165     67

In [22]:
reg = lm.LinearRegression()
reg.fit(df[['tinggi']], df['berat'])

LinearRegression()

In [23]:
print('hasil B1 = ',reg.coef_)

hasil B1 =  [0.47743814]

In [24]:
# mencari b0

print('hasil b0 = ', reg.intercept_)

hasil b0 =  -13.094614264919969

In [25]:
reg.score(df[['tinggi']], df['berat'])

0.29436035503606217

In [29]:
# case = mau predict tinggi badan org, which is di luar data

reg.predict(pd.DataFrame([167]))

C:\Users\RAFLY AULYA RIZKY N\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([66.63755459])

In [32]:
reg.predict([[167]])

C:\Users\RAFLY AULYA RIZKY N\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([66.63755459])