In [8]:
# Data list
buah = ['apel', 'grape', 'papaya', 'watermelon']
print(type(buah))

<class 'list'>

In [25]:
# Berdasarkan nomer index
print(buah[0])
# print(buah[4])   ==>  ERROR

jeruk

In [11]:
# Update atau MENGGANTI data di list
buah[1] = 'sirsak'
print(buah)

['apple', 'sirsak', 'papaya', 'watermelon']

In [18]:
# Negative Index
print(buah[-1])

apple

In [28]:
# untuk menambahkan data ke dalam data list menggunakan 
# method .append()
buah_baru = input('buah = ')
buah.append(buah_baru)
print(buah)

buah = jeruk
['jeruk', 'jeruk', 'jambu', 'jeruk', 'apple', 'sirsak', 'papaya', 'watermelon', 'jeruk']

In [27]:
# method .insert()
# menambahkan data di list dgn detail berdasarkan index

buah.insert(2, 'jambu')
print(buah)

['jeruk', 'jeruk', 'jambu', 'jeruk', 'apple', 'sirsak', 'papaya', 'watermelon']

In [31]:
# index = int(input('index = '))
# input_buah = input('buah = ')
# buah.insert(index, input_buah)
buah[0] = buah[1]
print(buah)

index = 1
buah = pisang
['pisang', 'pisang', 'pisang', 'pisang', 'jeruk', 'jambu', 'jeruk', 'apple', 'sirsak', 'papaya', 'watermelon', 'jeruk']

In [32]:
# methode .extend

new_buah = ['rambutan', 'cherry', 'kiwi']
buah.extend(new_buah)
print(buah)

['pisang', 'pisang', 'pisang', 'pisang', 'jeruk', 'jambu', 'jeruk', 'apple', 'sirsak', 'papaya', 'watermelon', 'jeruk', 'rambutan', 'cherry', 'kiwi']

In [37]:
# methode .remove()
# menghapus berdasarkan urutan nomer index, jika ada data yang ganda
buah.remove('jeruk')
print(buah)

['pisang', 'jambu', 'apple', 'sirsak', 'papaya', 'watermelon', 'jeruk', 'rambutan', 'cherry', 'kiwi']

In [38]:
# methode .pop()
# menghapus berdasarkan nomor index

buah.pop(1)
buah

['pisang',
 'apple',
 'sirsak',
 'papaya',
 'watermelon',
 'jeruk',
 'rambutan',
 'cherry',
 'kiwi']

In [39]:
# methode del
del buah[1]
print(buah)

['pisang', 'sirsak', 'papaya', 'watermelon', 'jeruk', 'rambutan', 'cherry', 'kiwi']

In [40]:
# methode JOIN
buah2 = ['apple', 'jeruk']
listbuah = buah + buah2
print(listbuah)

['pisang', 'sirsak', 'papaya', 'watermelon', 'jeruk', 'rambutan', 'cherry', 'kiwi', 'apple', 'jeruk']

In [44]:
# Data tuple
buah_tuple = ('apel', 'pisang', 'mangga')

# Berdasarkan nomor index
print(buah_tuple[0])

apel

In [47]:
# TUPLE tidak dapat melakukan PENAMBAHAN data, insert() ataupun append()

# buah_t = buah_tuple
# buah_t.append('anggur')
# print(buah_t)

In [50]:
# TUPLE tidak dapat mengubah data

# buah_t[0] = 'anggur'
# print(buah_t)

In [53]:
# TUPLE tidak dapat menghapus data

# buah_t.pop(1)
# print(buah_t)

In [57]:
# JOIN tidak dapat digunakan di tuple

# buah_t.extend(buah)
# buahbaru = buah + buah_t
# print(buahbaru)

('apel', 'pisang', 'mangga')

In [59]:
buah = ['pisang', 'sirsak', 'papaya', 'watermelon', 'jeruk', 'rambutan', 'cherry', 'kiwi']
print(buah)

['pisang', 'sirsak', 'papaya', 'watermelon', 'jeruk', 'rambutan', 'cherry', 'kiwi']

In [60]:

# TUPLE tidak bisa di modifikasi, LIST bisa dimodifikasi

In [65]:
buah_baru = list(buah_t)
print(buah_baru)    # mengubah ke LIST

buah_baru = tuple(buah_baru)
print(buah_baru)       # mengembalikan ke TUPLE

['apel', 'pisang', 'mangga']
<class 'list'>
('apel', 'pisang', 'mangga')

In [74]:
data_karyawan = ('beni', 'bambang', 'budi')
# 5 anggota baru = bimo, joko, dinda, ani, vino

data = data_karyawan
data = list(data)
newdata = ['bimo', 'joko', 'dinda', 'ani', 'vino']
listdata = data + newdata
# print(listdata)

data = listdata
data[0] = 'jeni'
data.remove('bambang')
# print(data)

data = tuple(data)
print(data)

('jeni', 'budi', 'bimo', 'joko', 'dinda', 'ani', 'vino')

In [89]:
# Data set
set_buah = {'Apel', 'Mangga', 'Pisang'}

# untuk menampilkan data pada data set, menggunakan looping for
for loop_buah in set_buah:
    print(loop_buah)

# DATA SET tidak dapat menampilkan menggunakan nomor index
# print(set_buah[0])

Apel
Mangga
Pisang

In [93]:
# METHODE .add() 
# sama seperti .append()

set_buah.add('jambu')
print(set_buah)

{'Apel', 'Jambu', 'Pisang', 'Mangga', 'jambu'}

In [94]:
# METHODE .update()
# menambahkan data secara RANDOM, tidak urut

new_set_buah = {'Nanas', 'Kiwi', 'Cherry'}
set_buah.update(new_set_buah)
print(set_buah)

{'Nanas', 'Apel', 'Jambu', 'Pisang', 'Mangga', 'Kiwi', 'jambu', 'Cherry'}

In [97]:
# METHODE .remove() 
# untuk menghapus data

set_buah.remove('Jambu')
print(set_buah)

{'Nanas', 'Apel', 'Mangga', 'Kiwi', 'Cherry'}

In [99]:
# METHODE .discard()
# sama seperti .remove(), untuk menghapus data

set_buah.discard('Pisang')
print(set_buah)

{'Nanas', 'Apel', 'Mangga', 'Kiwi', 'Cherry'}

In [100]:
# METHODE .pop()
# menghapus data dari index 0

set_buah.pop()
print(set_buah)

{'Apel', 'Mangga', 'Kiwi', 'Cherry'}

In [101]:
complete_set_buah = set_buah.union(new_set_buah)
print(complete_set_buah)

{'Nanas', 'Mangga', 'Apel', 'Kiwi', 'Cherry'}

In [109]:
# DICTIONARY

dict_buah = {
    'nama_buah': 'apel',     # KEY = nama_buah,   VALUE = apel
    'price': 15000,
    'stock': 10
}
print(dict_buah['nama_buah'])
print(dict_buah['price'])
print(dict_buah['stock'])
print('=====================')

# update value pada key dalam dictionary
dict_buah['price'] = 20000
print(dict_buah['price'])
print('=========================')

# melakukan UPDATE pada multiple key
# menggunakan .update()
dict_buah.update({'price': 25000,
                 'stock': 15})
print(dict_buah)

apel
15000
10
=====================
20000
=========================
{'nama_buah': 'apel', 'price': 25000, 'stock': 15}

In [114]:
# menambahkan key baru pada Dictionary

dict_buah['color'] = 'red'
print(dict_buah)

dict_buah.update({'quality': 'good'})
print(dict_buah)

{'nama_buah': 'apel', 'price': 25000, 'stock': 15, 'color': 'red', 'quality': 'good'}
{'nama_buah': 'apel', 'price': 25000, 'stock': 15, 'color': 'red', 'quality': 'good'}

In [116]:
# METHODE .pop()  -->  MENGHAPUS 
# menghapus key pada dictionary

# dict_buah.pop('color')
# print(dict_buah)

# menghapus urutan key terakhir kita tambahkan dengan methode .popitem()
dict_buah.popitem()
print(dict_buah)

{'nama_buah': 'apel', 'price': 25000, 'stock': 15}

In [118]:
# METHODE .get()
# untuk mengambil value dari sebuah key

nama_buah = dict_buah.get('nama_buah')
print(nama_buah)

apel