In [11]:
print('hello World')

print(20)
print('20')
print(True)

print('\n=========  BOOLEAN  ==========')
# OPERATOR PERBANDINGAN
print(10 > 5)
print(10 < 5)
print(10 >= 5)
print(10 <= 5)

# operator kesetaraan
print('\n==========  KESETARAAN  ==============')
print(10 == 5)
print(10 != 5)

hello World
20
20
True

=========  BOOLEAN  ==========
True
False
True
False

==========  KESETARAAN  ==============
False
True

In [28]:
#  Variable 
nama_user = 'mase'
tahun_lahir = 2000
print('nama user: ' + nama_user)                 # + itu string dengan string
print(f"nama user: {nama_user}")
print('=======================')


usia_user = 2022 - tahun_lahir
print('usia user: ' + str(usia_user))            # , (koma) adalah string dengan integer
print(f"usia user: {usia_user}")

nama user: mase
nama user: mase
=======================
usia user: 22
usia user: 22

In [45]:
# TEST PRINT OUT
nama = 'Rafly'
tempat_lahir = 'Medan'
tahun = 2001
usia = 2022 - tahun

print(f"Nama saya {nama}", end='')
print(f" saya lahir di {tempat_lahir}", end='')
print(f" saya lahir di tahun {tahun}", end='')
print(f" dan saya berumur {usia} tahun")

print('\n=============  METODE FORMAT  ==========')
print('Nama saya {}, saya lahir di {}, saya lahir ditahun {}, dan saya berumur {} tahun'.format(nama, tempat_lahir, tahun, usia))

Nama saya Rafly saya lahir di Medan saya lahir di tahun 2001 dan saya berumur 21 tahun

=============  METODE FORMAT  ==========
Nama saya Rafly, saya lahir di Medan, saya lahir ditahun 2001, dan saya berumur 21 tahun

In [47]:
# Update variable 
nama = 'kate'
print(nama)
print("{}".format(nama))

kate
kate

In [52]:
# Convert data type
x = '-200' + '200'
convert_to_int = int(x)           # sebelumnya str, convert ke int

print(type(x))
print(type(convert_to_int))
print(convert_to_int * 10)

<class 'str'>
<class 'int'>
-2002000

In [58]:
x = int('-200') ,str('200')
y = '-200', 260
print(type(x))
print(x)
print(y)

<class 'tuple'>
(-200, '200')
('-200', 260)

In [62]:
x1 = int('-200' + '200')
x2 = int('-200') + int('200')
print(x1)
print(x2)

-200200
0

In [64]:
# INPUT
name = input('your name: ')
print('Welcome, {}'.format(name))

your name: rafly
Welcome, rafly

In [72]:
# INPUT str(nama), int(usia)
name = input('your name: ')
print('Welcome, {}'.format(name))
year = int(input('tahun lahir: '))
usia = 2022 - year
print('usia anda {}'.format(usia))

your name: rafly
Welcome, rafly
tahun lahir: 2001
usia anda 21

In [86]:
num1 = 10
num2 = 20

num1 = num1 + num2
print(str(num1) + str('\n=============='))

# Shorthand
num1 += num2 #* 50
print(num1)
num1 *= num2
print(num1)
num1 /= num2
print(num1)

30
==============
50
1000
50.0

In [90]:
a = int(input('alas = '))
t = int(input('tinggi = '))
luas = (1/2) * a * t
luas = int(luas)
print('hasil luas segitiga adalah {}'.format(luas))

alas = 8
tinggi = 5
hasil luas segitiga adalah 20